.elementor-73 .elementor-element.elementor-element-37d60ba7:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-37d60ba7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-37d60ba7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 10px 0px;
}

.elementor-73 .elementor-element.elementor-element-37d60ba7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-3634ceb4 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3634ceb4 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-69f9f4f7 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 20px 0px;
}

.elementor-73 .elementor-element.elementor-element-69f9f4f7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-55159ddf {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-55159ddf .elementor-heading-title {
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-6af24d5b {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-6af24d5b .elementor-heading-title {
    color: #0781E3;
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-1ab5d681 {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-1ab5d681,
.elementor-73 .elementor-element.elementor-element-1ab5d681>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-1ab5d681>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-16919555 img {
    width: 450px;
}

.elementor-73 .elementor-element.elementor-element-20b1f202 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-20b1f202 .elementor-heading-title {
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-3dfa72f9 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3dfa72f9 .elementor-heading-title {
    font-family: "Fjalla One", Sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-73 .elementor-element.elementor-element-546d4e82 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-281d7ca9 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-281d7ca9 .elementor-heading-title {
    font-family: "Oswald", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
}

.elementor-73 .elementor-element.elementor-element-281d7ca9>.elementor-widget-container {
    padding: 5px 0px 5px 0px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.elementor-73 .elementor-element.elementor-element-53f37b4d {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-53f37b4d .elementor-heading-title {
    font-family: "Oswald", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-73 .elementor-element.elementor-element-4d73d05b {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-4d73d05b .elementor-heading-title {
    font-family: "Oswald", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-67e61c7f {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-1bfbed79 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-1bfbed79 .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-1bfbed79>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-5b3fd794>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #487131;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-73 .elementor-element.elementor-element-5b3fd794>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-5b3fd794>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-5b3fd794>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-5b3fd794>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-3c1c8395 .elementor-testimonial-wrapper {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3c1c8395 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 200px;
    height: 200px;
}

.elementor-73 .elementor-element.elementor-element-337aa64d {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-208687c6 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-208687c6 .elementor-heading-title {
    color: #F0AD4E;
}

.elementor-73 .elementor-element.elementor-element-45dd3d39 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-45dd3d39 .elementor-heading-title {
    color: #E50909;
}

.elementor-73 .elementor-element.elementor-element-491f9cf3 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-350ca3b5 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-40948386>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #487131;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-73 .elementor-element.elementor-element-40948386>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-40948386>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-40948386>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-40948386>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-4dd85020 .elementor-testimonial-wrapper {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-4dd85020 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 200px;
    height: 200px;
}

.elementor-73 .elementor-element.elementor-element-6a3df96 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3db3179 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3db3179 .elementor-heading-title {
    color: #F0AD4E;
}

.elementor-73 .elementor-element.elementor-element-458ffac {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-458ffac .elementor-heading-title {
    color: #E50909;
}

.elementor-73 .elementor-element.elementor-element-17db3451 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-633d1bba {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-437b51a2>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #487131;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 5px 5px 5px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-73 .elementor-element.elementor-element-437b51a2>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-437b51a2>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-437b51a2>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-437b51a2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-25c6b3c2 .elementor-testimonial-wrapper {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-25c6b3c2 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 200px;
    height: 200px;
}

.elementor-73 .elementor-element.elementor-element-1191971f {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-5b40e9e2 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-5b40e9e2 .elementor-heading-title {
    color: #F0AD4E;
}

.elementor-73 .elementor-element.elementor-element-14a66e92 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-14a66e92 .elementor-heading-title {
    color: #E50909;
}

.elementor-73 .elementor-element.elementor-element-42ad4798 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-e9cf175 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-17d01c79:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-17d01c79>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-17d01c79 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-17d01c79>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-7d2cf778 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-7d2cf778 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-7d2cf778>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-6df0eb60 {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-6df0eb60,
.elementor-73 .elementor-element.elementor-element-6df0eb60>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-6df0eb60>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5d486238 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-6cbf1059 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-54c0a8c7 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-1fe53217 {
    padding: 30px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-52cbc507 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-52cbc507 .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-52cbc507>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-64547b9 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-64547b9 .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-64547b9>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-50addc74 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-12106927 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-12106927 .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-12106927>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-a259172:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-a259172>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-a259172 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 10px 0px;
}

.elementor-73 .elementor-element.elementor-element-a259172>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-306ff742 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-306ff742 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-69d5f87 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-69d5f87 .elementor-heading-title {
    color: #FFE300;
}

.elementor-73 .elementor-element.elementor-element-43eded2f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-43eded2f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-6b281882:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-6b281882>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-6b281882 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-6b281882>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-635972cc>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-635972cc {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-635972cc,
.elementor-73 .elementor-element.elementor-element-635972cc>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-635972cc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-73 .elementor-element.elementor-element-5a1220d9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-5a1220d9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-5ccc6d6c {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-5ccc6d6c .elementor-heading-title {
    color: #FFE300;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-5ccc6d6c>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-2da05bdc {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-3648cd3e {
    padding: 10px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-4384bb04 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-4384bb04 .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-4384bb04>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-1d39abe9 img {
    width: 100%;
}

.elementor-73 .elementor-element.elementor-element-11865e56 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-11865e56 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-11865e56>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    background-color: #0781E3;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-4f22de67>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-73 .elementor-element.elementor-element-4f22de67>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-4f22de67>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-4f22de67>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-4f22de67>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5277a185 img {
    width: 200px;
}

.elementor-73 .elementor-element.elementor-element-4ae0f535 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-78f71167>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-73 .elementor-element.elementor-element-78f71167>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-78f71167>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-78f71167>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-78f71167>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-60ad60c6 img {
    width: 200px;
}

.elementor-73 .elementor-element.elementor-element-4f94735c {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-2792504d>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 10px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-73 .elementor-element.elementor-element-2792504d>.elementor-element-populated,
.elementor-73 .elementor-element.elementor-element-2792504d>.elementor-element-populated>.elementor-background-overlay,
.elementor-73 .elementor-element.elementor-element-2792504d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-2792504d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-4554efdf {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-2f45397c:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-2f45397c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-2f45397c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 10px 0px;
}

.elementor-73 .elementor-element.elementor-element-2f45397c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-3bb1435 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-3bb1435 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-16ed8d01 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-16ed8d01 .elementor-heading-title {
    color: #FFE300;
}

.elementor-73 .elementor-element.elementor-element-797e8407 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-797e8407>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-3e76ee19:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-3e76ee19>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-3e76ee19 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-3e76ee19>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5fc941b4>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-5fc941b4 {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5fc941b4,
.elementor-73 .elementor-element.elementor-element-5fc941b4>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-73 .elementor-element.elementor-element-5fc941b4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-73 .elementor-element.elementor-element-29d06a8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-29d06a8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-73 .elementor-element.elementor-element-5514506b {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-5514506b .elementor-heading-title {
    color: #FFE300;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-5514506b>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-2b68799c {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-430ec39f {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-430ec39f .elementor-heading-title {
    color: #000000;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-73 .elementor-element.elementor-element-430ec39f>.elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-73 .elementor-element.elementor-element-6b470429 .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-6b470429 .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-6b470429 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-6b470429 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-6b470429 .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-6b470429 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59accf07 .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59accf07 .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59accf07 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-59accf07 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-59accf07 .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-59accf07 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-4f4b0bc1 .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-4f4b0bc1 .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-4f4b0bc1 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-4f4b0bc1 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-4f4b0bc1 .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-4f4b0bc1 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5b1631df .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5b1631df .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5b1631df {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-5b1631df .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-5b1631df .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-5b1631df .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-50486b61 .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-50486b61 .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-50486b61 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-50486b61 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-50486b61 .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-50486b61 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-775e643a .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-775e643a .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-775e643a {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-775e643a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-775e643a .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-775e643a .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59a3e315 .elementor-icon-list-icon i {
    color: #238541;
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59a3e315 .elementor-icon-list-icon svg {
    fill: #238541;
    transition: fill 0.3s;
}

.elementor-73 .elementor-element.elementor-element-59a3e315 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-73 .elementor-element.elementor-element-59a3e315 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-73 .elementor-element.elementor-element-59a3e315 .elementor-icon-list-item>a {
    font-size: 22px;
    font-weight: 700;
}

.elementor-73 .elementor-element.elementor-element-59a3e315 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5d1d0be3:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-5d1d0be3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0781E3;
}

.elementor-73 .elementor-element.elementor-element-5d1d0be3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-73 .elementor-element.elementor-element-5d1d0be3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-13d9b5e0 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-13d9b5e0 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-6380cbb img {
    width: 550px;
}

.elementor-73 .elementor-element.elementor-element-2f3b404f {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-2f3b404f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-73 .elementor-element.elementor-element-5e995ca4 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-5e995ca4 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}

.elementor-73 .elementor-element.elementor-element-4a096ea4 {
    text-align: center;
}

.elementor-73 .elementor-element.elementor-element-68bc7aa5 .elementor-button {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    fill: #000000;
    color: #000000;
    background-color: #FFE300;
}

.elementor-73 .elementor-element.elementor-element-5ad93105:not(.elementor-motion-effects-element-type-background),
.elementor-73 .elementor-element.elementor-element-5ad93105>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2F3948;
}

.elementor-73 .elementor-element.elementor-element-5ad93105 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5ad93105>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-73 .elementor-element.elementor-element-5b8b9d10 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-3b254a93 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-73 .elementor-element.elementor-element-75ebfb30 {
    text-align: center;
    color: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-73 .elementor-element.elementor-element-5a1220d9 {
        width: 30%;
    }
    .elementor-73 .elementor-element.elementor-element-47dde3eb {
        width: 70%;
    }
    .elementor-73 .elementor-element.elementor-element-29d06a8 {
        width: 30%;
    }
    .elementor-73 .elementor-element.elementor-element-41eba7b {
        width: 70%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-73 .elementor-element.elementor-element-262f9c53 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-12edd879 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-5b3fd794 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-40948386 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-437b51a2 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-5a1220d9 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-47dde3eb {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-29d06a8 {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-41eba7b {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-6dcbfb1e {
        width: 100%;
    }
    .elementor-73 .elementor-element.elementor-element-394a798b {
        width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-73 .elementor-element.elementor-element-208687c6 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-45dd3d39 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-350ca3b5 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-3db3179 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-458ffac {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-633d1bba {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-5b40e9e2 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-14a66e92 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-e9cf175 {
        text-align: center;
    }
    .elementor-73 .elementor-element.elementor-element-68bc7aa5 .elementor-button {
        font-size: 27px;
        line-height: 32px;
    }
}